<div id="footer">
  <div class="container-fluid">
    <div class="row p-2">
      <div class="col-12 col-md-6 col-lg-3 mb-xs-2 mb-md-0">
        <a class="navbar-brand me-auto text-decoration-none inmo" [routerLink]="['home']"><img src="assets/yospace-logo.svg" class="img-fluid logo"
          width="50px" alt="logo-footer" /><span class="mt-1">Inmoanuncios</span></a>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-xs-2 mb-md-0">
        <h2>{{"footer.ayudas" | translate}}</h2>
        <p><a class="text-decoration-none ayudas" [routerLink]="['terminos']">{{"footer.terminos" | translate}}</a></p>
        <p><a class="text-decoration-none ayudas" [routerLink]="['cookies']">{{"footer.cookies" | translate}}</a></p>
        <p><a class="text-decoration-none ayudas" [routerLink]="['legal']">{{"footer.legales" | translate}}</a></p>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-xs-2 mb-md-0">
        <h2>{{"footer.contactar" | translate}}</h2>
        <p><i class="fa-solid fa-location-dot"></i>&nbsp;&nbsp;{{"footer.ubicacion" | translate}}: Carrer d'Aragó 1<br>08521 Bellavista (Les Franqueses del Vallès, Barcelona)</p>
        <p><i class="fa-solid fa-envelope"></i>&nbsp;&nbsp;{{"footer.email" | translate}}: contact@inmoanuncios.com</p>
        <p><i class="fa-solid fa-phone"></i>&nbsp;&nbsp;{{"footer.phone" | translate}}: 93 684 51 23</p>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-xs-2 mb-md-0">
        <h2>{{"footer.redes" | translate}}</h2>
        <a href="https://www.instagram.com/" class="me-2 fs-3 icons instagram"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.facebook.com/" class="me-2 fs-3 icons facebook"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://www.twitter.com/" class="me-2 fs-3 icons twitter"><i class="fa-brands fa-twitter"></i></a>
        <a href="https://github.com/jordimartinezjimenez/Angular-Inmoanuncios/" class="me-2 fs-3 icons github"><i class="fa-brands fa-github"></i></a>
      </div>
      <div class="col-12 text-center mt-3">
        Inmoanuncios Copyright <i class="fa-solid fa-copyright"></i> 2022
      </div>
    </div>
  </div>
</div>
