<div class="container mt-5">
    <div class="row">
        <div class="col-sm border">
            <img class="img-fluid" [src]="anuncio.imagen" alt="adImg-{{anuncio.referencia}}">
            <p>{{anuncio.tipo.nombre}} en {{anuncio.trato}} en {{anuncio.municipio.nombre}}</p>
            <p>{{anuncio.cp}}, {{anuncio.municipio.nombre}}, {{anuncio.provincia.nombre}}</p>
            <p>{{anuncio.precio}} €</p>
            <p>{{anuncio.area}} m² {{anuncio.habitaciones}} hab.</p>
            <div>{{anuncio.descripcion}}</div>
        </div>
        <div class="col-4 border">
            <img src="assets/mapa.jpg" class="img-fluid" alt="mapa" />
            <p><mat-icon matSuffix>phone</mat-icon>{{vendedor.telefono}}</p>
            <p>Vendedor</p>
            <p>{{vendedor.nombre}} {{vendedor.apellidos}}</p>
            <p>Referencia</p>
            <p>{{anuncio.referencia}}</p>
            <form>
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Contacta con el vendedor</mat-label>
                    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
                </mat-form-field>                 
                <div>
                    <button mat-raised-button color="primary" type="submit">Contactar</button>
                </div>
            </form>
        </div>
    </div>
</div>



<br>
<a [routerLink]="['ad-list']">Volver</a>