<div class="container mt-5">
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col col-md-8" *ngIf="anuncio">
            <!-- <img src="{{anuncio.imagen}}" onerror="this.src = 'assets/casa.png'" class="img-fluid w-100" alt="adImg-{{anuncio.referencia}}"> -->
            <div id="carouselImg" class="carousel slide" data-bs-interval="false" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" *ngFor="let img of imgs; let first = first; let i = index;"
                        data-bs-target="#carouselImg" [attr.data-bs-slide-to]="i" [ngClass]="{ active: first }"
                        [attr.aria-current]="{true: first}" [attr.aria-label]="'Slide' + (i+1)"></button>
                </div>
                <div class="carousel-inner">
                    <!-- <div class="carousel-item active">
                        <img src="https://images.pexels.com/photos/60597/dahlia-red-blossom-bloom-60597.jpeg?cs=srgb&dl=pexels-pixabay-60597.jpg&fm=jpg"
                            class="d-block w-100" alt="...">
                    </div> -->
                    <div class="carousel-item" *ngFor="let img of imgs; let first = first;"
                        [ngClass]="{ active: first }">
                        <img src="{{viewImage(img.imagen)}}" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselImg" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselImg" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <span class="d-flex justify-content-between">
                <h1>{{tipoTrans(anuncio.tipo?.nombre) | translate}} {{'adlist.for' | translate}}
                    {{tipoTrans(anuncio.trato) |
                    translate}} {{'ad.in' | translate}} {{anuncio.municipio?.nombre}}</h1>
                <button mat-icon-button id="favBtn" (click)="favBtn()">
                    <mat-icon id="favIcon">favorite</mat-icon>
                </button>
            </span>
            <p class="direccion"><span *ngIf="anuncio.cp">{{anuncio.cp}}, </span>{{anuncio.municipio?.nombre}},
                {{anuncio.provincia?.nombre}}</p>
            <p>{{anuncio.precio}} €</p>
            <p>{{anuncio.area}} m² {{anuncio.habitaciones}} {{'ad.rooms' | translate}}</p>
            <mat-divider class="my-3"></mat-divider>
            <p>{{anuncio.descripcion}}</p>
        </div>
        <div class="col col-md-4">
            <div class="contactoContainer border">
                <google-map *ngIf="latLng; else elseBlock" width="100%" height="300px" [center]="latLng" [zoom]="15">
                    <map-marker #marker [position]="latLng" [title]="label"></map-marker>
                </google-map>
                <ng-template #elseBlock>
                    <div style="height: 300px !important;" class="d-flex justify-content-center align-items-center">
                        <div class="spinner-border"
                            style="width: 3rem; height: 3rem; color: seagreen; border-width: 0.5rem;"></div>
                    </div>
                </ng-template>
                <div class="contactoDatos p-3">
                    <p *ngIf="vendedor" class="phone"><i class="fa fa-phone"></i>{{phoneSeparator(vendedor!.telefono)}}
                    </p>
                    <p>Vendedor</p>
                    <p>{{vendedor?.nombre}} {{vendedor?.apellidos}}</p>
                    <p>Referencia</p>
                    <p>{{anuncio?.referencia}}</p>
                </div>
                <div class="d-flex flex-column p-2">
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-label>{{'ad.msg' | translate}}</mat-label>
                        <textarea [(ngModel)]="msgContacto" matInput
                            placeholder="{{'ad.msgph' | translate}}"></textarea>
                    </mat-form-field>
                    <button mat-raised-button color="primary" class="w-100" (click)="this.contactarVendedor();"
                        type="submit">{{'ad.contact' | translate}}</button>
                </div>
            </div>
            <a class="my-2" mat-raised-button [routerLink]="['/ad-list/'+this.anuncio?.municipio_id]">{{'ad.return' | translate}}</a>
        </div>
    </div>
</div>