<div class="container mt-5">
    <div class="row row-cols-1 row-cols-md-2">
        <button id="viewFilters" (click)="viewFilters()"mat-raised-button color="primary">{{'adlist.viewFilterBtn' | translate}}</button>
        <div class="col col-md-4 d-flex justify-content-center">
            <div id="filtros" class="filtros mb-4">
                <div class="container py-4 d-flex flex-column border">
                    <mat-form-field appearance="fill">
                        <mat-label>{{'adlist.selectPropertyType' | translate}}</mat-label>
                        <mat-select [(ngModel)]="tipoSelected" [(value)]="tipoSelected">
                            <mat-option>{{'adlist.all' | translate}}</mat-option>
                            <div *ngFor="let tipo of tipos">
                                <mat-option [value]="tipo.id">{{tipoTrans(tipo.nombre) | translate}}</mat-option>
                            </div>
                        </mat-select>
                    </mat-form-field><br>

                    <span>{{'adlist.selectPropertyDeal' | translate}}</span><br>
                    <mat-radio-group class="mb-3" [(ngModel)]="tratoSelected" aria-label="Selecciona tipo de trato">
                        <mat-radio-button value="">{{'adlist.all' | translate}}</mat-radio-button>
                        <div *ngFor="let trato of tratos">
                            <mat-radio-button [value]="trato.valor">{{trato.nombre | translate}}</mat-radio-button>
                        </div>
                    </mat-radio-group><br>

                    <div class="d-flex flex-column">
                        <mat-form-field>
                            <input type="number" [(ngModel)]="precioMin" matInput [placeholder]="'adlist.minPrice' | translate">
                            <span matSuffix>€</span>
                        </mat-form-field>
                        <mat-form-field>
                            <input type="number" [(ngModel)]="precioMax" matInput [placeholder]="'adlist.maxPrice' | translate">
                            <span matSuffix>€</span>
                        </mat-form-field>
                    </div>

                    <div class="d-flex flex-column">
                        <mat-form-field>
                            <input type="number" [(ngModel)]="areaMin" matInput [placeholder]="'adlist.maxArea' | translate">
                            <span matSuffix>m²</span>
                        </mat-form-field>
                        <mat-form-field>
                            <input type="number" [(ngModel)]="areaMax" matInput [placeholder]="'adlist.maxArea' | translate">
                            <span matSuffix>m²</span>
                        </mat-form-field>
                    </div>
                    <span>{{'adlist.radioRooms' | translate}}</span>
                    <mat-radio-group [(ngModel)]="habitaciones" class="d-flex flex-column"
                        aria-label="Selecciona número de habitaciones">
                        <mat-radio-button [checked]="true">{{'adlist.all' | translate}}</mat-radio-button>
                        <mat-radio-button value="1">1</mat-radio-button>
                        <mat-radio-button value="2">2</mat-radio-button>
                        <mat-radio-button value="3">3</mat-radio-button>
                        <mat-radio-button value="4">4 {{'adlist.more' | translate}}</mat-radio-button>
                    </mat-radio-group>

                    <mat-form-field hintLabel="{{'adlist.maxRefChars' | translate}}">
                        <input [(ngModel)]="referencia" matInput #refe placeholder="{{'adlist.reference' | translate}}" maxlength="10">
                        <mat-hint align="end">{{refe.value?.length || 0}}/{{refe.maxLength}}</mat-hint>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="col col-md-8 mt-3 mt-md-0">
            <div *ngIf="pageAnuncios.length==0"
                class="d-flex align-items-center justify-content-center flex-columnd-sm">
                <span class="display-3">No hay anuncios</span>
                <img class="w-25" src="assets/sad.png" alt="sad">
            </div>
            <div *ngIf="pageAnuncios.length>0">
                <div class="row row-cols-1 row-cols-md-2 g-4">
                    <div class="col"
                        *ngFor="let anuncio of pageAnuncios | adListFilter:referencia:tipoSelected:precioMin:precioMax:areaMin:areaMax:tratoSelected:habitaciones">
                        <div class="card">
                            <a routerLink="/ad/{{anuncio.id}}">
                                <img src="{{anuncio.imagen}}" onerror="this.src = 'assets/casa.png'"
                                    class="card-img-top imagen" alt="adImg-{{anuncio.referencia}}">
                            </a>
                            <div class="card-body">
                                <h2 class="card-title">{{tipoTrans(anuncio.tipo?.nombre) | translate}} {{'adlist.for' | translate}} {{tipoTrans(anuncio.trato) | translate}}</h2>
                                <p class="card-text"><span *ngIf="anuncio.cp">{{anuncio.cp}},
                                    </span>{{anuncio.municipio?.nombre}},
                                    {{anuncio.provincia?.nombre}}</p>
                                <p class="card-text">{{anuncio.precio}} €</p>
                                <p *ngIf="anuncio.area" class="card-text">{{anuncio.area}} m²</p>
                                <p class="card-text">{{anuncio.referencia}}</p>
                                <p *ngIf="anuncio.descripcion !== null" class="card-text desc">{{anuncio.descripcion}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <mat-paginator class="mt-4" (page)="OnPageChange($event)" [length]="anuncios.length" [pageSize]="10"
        [pageSizeOptions]="[4, 10, 20, 50, 100]" aria-label="Selecciona">
    </mat-paginator>
</div>