/* .mat-radio-button~.mat-radio-button {
    margin-left: 16px;
} */

.desc {
    height: 4.2em;
    overflow: hidden;
}

.imagen {
    object-fit: cover;
    height: 30vh;
}

.filtros {
    position: fixed;
}

@media (max-width: 1000px) {
    .imagen {
        height: 20vh;
    }
}

@media (max-width: 600px) {
    .filtros {
        position: relative;
    }
}