/* .mat-radio-button~.mat-radio-button {
    margin-left: 16px;
} */

.desc {
    height: 4.2em;
    overflow: hidden;
}

.imagen {
    object-fit: cover;
    height: 30vh;
}

.filtros {
    position: -webkit-sticky;
    position: sticky;
    top: 30px;
    height: 0;
    background-color: white;
}

@media (max-width: 1000px) {
    .imagen {
        height: 20vh;
    }
}

@media (max-width: 600px) {
    .filtros {
        position: relative;
    }
}

.mat-paginator {
    background-color: #2a363b;
    color: white;
}