<div id="aviso_legal" class="p-5">
  <div id="contenido_legal" class="container p-5">
    <h1 class="fw-bold">{{"legal.titulo" | translate}}</h1>

    www.inmoanuncios.com
    <div [innerHTML]="'legal.textoI' | translate"></div>
    <div [innerHTML]="'legal.textoII' | translate"></div>
    <div [innerHTML]="'legal.textoIII' | translate"></div>
    <div [innerHTML]="'legal.textoIV' | translate"></div>
    <div [innerHTML]="'legal.textoV' | translate"></div>
    <div [innerHTML]="'legal.textoVI' | translate"></div>
  </div>
</div>
