<div id="terminos_condiciones" class="p-5">
  <div id="contenido_terminos" class="container p-5">
    <h1 class="fw-bold">{{"terminos.titulo" | translate}}</h1>

    <div [innerHTML]="'terminos.informacion' | translate"></div>
    <div [innerHTML]="'terminos.licencia' | translate"></div>
    <div [innerHTML]="'terminos.nouso' | translate"></div>
    <div [innerHTML]="'terminos.propiedad' | translate"></div>
    <div [innerHTML]="'terminos.politica' | translate"></div>
    <div [innerHTML]="'terminos.comprobacion' | translate"></div>
    <div [innerHTML]="'terminos.privacidad' | translate"></div>

  </div>
</div>
