<div id="contenido-perfil" class="p-5">
  <div class="container">
    <form class="d-lg-flex" [formGroup]="editProfileForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="container-fluid">
        <img class="rounded mx-auto d-block img-thumbnail" id="imgperfil" onerror="this.src = 'assets/sinfotoperfil.png'" alt="profile">
        <div class="d-flex justify-content-center my-3">
          <button type="button" class="btn btn-success me-3" (click)="selecImagen()">{{'profile.change' | translate}}
            &nbsp;<i class="fa-solid fa-check"></i></button>
          <button type="button" class="btn btn-danger ms-3" (click)="borrarImagen()">{{'profile.remove' | translate}}
            &nbsp;<i class="fa-solid fa-x"></i></button>
        </div>
        <div id="verimagen" class="d-none">
          <label for="imagen" class="form-label">{{'form.photo' | translate}} &nbsp;</label>
          <input type="file" id="imagen" class="form-control" formControlName="imagen" (change)="onFileSelect($event)">
          <span *ngIf="noValid('imagen')" class="error">
            {{ getErrorMessage('imagen') }}
          </span>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-lg-6">
            <div class="form-element mb-2">
              <label for="nombre" class="form-label">{{'form.name' | translate}} &nbsp;</label>
              <input type="text" class="form-control" id="nombre" formControlName="nombre">
              <span *ngIf="noValid('nombre')" class="error">
                {{ getErrorMessage('nombre') | translate }}
              </span>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="form-element mb-2">
              <label for="apellidos" class="form-label">{{'form.surname' | translate}} &nbsp;</label>
              <input type="text" class="form-control" id="apellidos" formControlName="apellidos">
              <span *ngIf="noValid('apellidos')" class="error">
                {{ getErrorMessage('apellidos') | translate }}
              </span>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="form-element mb-2">
              <label for="email" class="form-label">{{'form.email' | translate}} &nbsp;</label>
              <input type="email" class="form-control" id="email" formControlName="email">
              <span *ngIf="noValid('email')" class="error">
                {{ getErrorMessage('email') | translate }}
              </span>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="form-element mb-2">
              <label for="telefono" class="form-label">{{'form.phone' | translate}} &nbsp;</label>
              <input type="tel" class="form-control" id="telefono" pattern="^([+]?\d{1,2}[-\s]?|)[9|6|7][0-9]{8}$"
                formControlName="telefono">
              <span *ngIf="noValid('telefono')" class="error">
                {{ getErrorMessage('telefono') | translate }}
              </span>
            </div>
          </div>
          <div class="col-12">
            <div class="form-element mt-3 d-flex justify-content-center">
              <button color="primary" type="submit" id="boton-inmo" class="btn btn-primary"
                [disabled]="!editProfileForm.valid" disabled>{{'form.buttonEditProfile' | translate}}</button>
            </div>
          </div>
        </div>
      </div>

    </form>

  </div>


  <div *ngIf="favoritos.length > 0" class="list w-75 container-fluid mt-4">
    <div class="d-flex justify-content-between">
      <h2>{{'profile.yourFavs' | translate}}</h2>
      <div class="scrollBtns d-flex">
        <button (click)="scrollFavLeft()"><i class="fa fa-angle-left"></i></button>
        <button (click)="scrollFavRight()"><i class="fa fa-angle-right"></i></button>
      </div>
    </div>
    <div id="listFav" class="listFav d-flex gap-2 p-0">
      <div *ngFor="let fav of favoritos">
        <div class="containerImg">
          <a routerLink="/ad/{{fav.anuncio_id}}">
            <img src="{{fav.anuncio?.imagen}}" onerror="this.src = 'assets/casa.png'"
              alt="adImg-{{fav.anuncio?.referencia}}" class="listImg">
          </a>
          <div class="btns d-flex flex-column gap-2">
            <button class="delBtn mt-1" matTooltip="{{'profile.removeFav' | translate}}" matTooltipPosition="right"
              (click)="deleteFav(fav.id);"><i class="fa fa-trash"></i></button>
          </div>
          <div class="textoImg">
            {{fav.anuncio?.referencia}}
          </div>
        </div>
        <div class="infoContent p-2">
          <p>{{tipoTrans(fav.anuncio?.tipo?.nombre) | translate}} {{'adlist.for' | translate}}
            {{tipoTrans(fav.anuncio?.trato) |
            translate}}</p>
          <p><span *ngIf="fav.anuncio?.cp">{{fav.anuncio?.cp}},
            </span>{{fav.anuncio?.municipio?.nombre}},
            {{fav.anuncio?.provincia?.nombre}}</p>
          <p class="precio"><span>{{fav.anuncio?.precio}}</span> €</p>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="anuncios.length > 0" class="list w-75 container-fluid mt-4">
    <div class="d-flex justify-content-between">
      <h2>{{'profile.yourAds' | translate}}</h2>
      <div class="scrollBtns d-flex">
        <button (click)="scrollAdLeft()"><i class="fa fa-angle-left"></i></button>
        <button (click)="scrollAdRight()"><i class="fa fa-angle-right"></i></button>
      </div>
    </div>
    <div id="listAd" class="listFav d-flex gap-2 p-0">
      <div *ngFor="let anuncio of anuncios">
        <div class="containerImg">
          <a routerLink="/ad/{{anuncio.id}}">
            <img src="{{anuncio.imagen}}" onerror="this.src = 'assets/casa.png'" alt="adImg-{{anuncio.referencia}}"
              class="listImg">
          </a>
          <div class="btns d-flex flex-column gap-2">
            <button class="editBtn mt-1" matTooltip="{{'profile.editAd' | translate}}" matTooltipPosition="right"
              (click)="openDialogEdit(anuncio);"><i class="fa-regular fa-pen-to-square"></i></button>
            <button class="delBtn" matTooltip="{{'profile.removeAd' | translate}}" matTooltipPosition="right"
              (click)="deleteAnuncio(anuncio.id);"><i class="fa fa-trash"></i></button>
          </div>
          <div class="textoImg">
            {{anuncio.referencia}}
          </div>
        </div>
        <div class="infoContent p-2">
          <p>{{tipoTrans(anuncio.tipo?.nombre) | translate}} {{'adlist.for' | translate}}
            {{tipoTrans(anuncio.trato) |
            translate}}</p>
          <p><span *ngIf="anuncio.cp">{{anuncio?.cp}},
            </span>{{anuncio.municipio?.nombre}},
            {{anuncio?.provincia?.nombre}}</p>
          <p class="precio"><span>{{anuncio.precio}}</span> €</p>
        </div>
      </div>
    </div>
  </div>
</div>