/* You can add global styles to this file, and also import other style files */

/* html,
body {
    height: 100%;
} */

body {
    margin: 0;
    font-family: 'bernino-regular', Verdana, Arial, Geneva, sans-serif;
    /* font-family: Roboto, "Helvetica Neue", sans-serif; */
    font-style: normal;
    font-weight: normal;
    line-height: 1.5rem;
    background-color: #F2F4F3;
}