<main class="container-fluid  d-flex justify-content-center align-items-center">
    <form [formGroup]="myForm" novalidate (ngSubmit)="onSubmit()"
        class="border form p-3 container-fluid d-flex justify-content-center align-items-center gap-2">
        <div class="home-provincias" appearance="fill">
            <!-- <mat-label>Provincia</mat-label> -->
            <input type="text" [placeholder]="'home.selectProv' | translate" matInput [formControl]="myControl"
                [matAutocomplete]="autoProvincia" (blur)="this.filteredMunicipios=munisFiltered()">
            <mat-autocomplete #autoProvincia="matAutocomplete" [displayWith]="displayFnProv.bind(this)">
                <mat-option *ngFor="let provincia of filteredProvincias | async" [value]="provincia.id" id="prov-form">
                    {{provincia.nombre}}
                </mat-option>
            </mat-autocomplete>
            <!-- <mat-error *ngIf="noValid('provincia_id')">
                {{ getErrorMessage('provincia_id') }}
            </mat-error> -->
        </div>
        <div class="home-municipios" appearance="fill">
            <!-- <mat-label>Municipio</mat-label> -->
            <input type="text" [placeholder]="'home.selectMun' | translate" matInput formControlName="municipio_id"
                [matAutocomplete]="autoMunicipio">
            <mat-autocomplete #autoMunicipio="matAutocomplete" [displayWith]="displayFnMun">
                <mat-option *ngFor="let municipio of filteredMunicipios | async" [value]="municipio">
                    {{municipio.nombre}}
                </mat-option>
            </mat-autocomplete>
            <!-- <mat-error *ngIf="noValid('municipio_id')">
                {{ getErrorMessage('municipio_id') }}
            </mat-error> -->
        </div>
        <!-- <a mat-raised-button class="button home-button" [disabled]="!myForm.valid" routerLink="/ad-list/{{this.myForm.get('municipio_id')?.value?.id}}">Buscar</a> -->
        <button  type="submit" class="btn btn-light home-button" [disabled]="!myForm.valid">{{'home.search' | translate}}</button>
    </form>
</main>